name: Lint Markdown
on:
  push:
    branches:
      - "*"
    paths:
      - '**.md'
      - '.markdown-lint.json'
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, 'skipci:')"
    steps:
      - uses: actions/checkout@v4
      - name: Markdown Lint
        uses: nosborn/github-action-markdown-cli@v3.5.0
        with:
          files: .
